@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

body{
    font-family: "Open Sans","Sans serif";
    
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 800;
}

p {
    font-weight: 400;
}
body a{
    transition: color .5s;;
}

.navbar a:link{
     color:white;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }

.black {
    background-color:black;
}

header a:visited {
    color:black;
}

.navbar a:visited{
    color:white;
}

.navbar a:hover {
    color:#fcb321;
}

.recentprojects {
    padding-top:50px;
    background-color:#f5f5f5;
    text-align:center;

}

.recenthead {
    background-color:#f5f5f5;
}

.navcustomized {
    border-bottom:5px solid #fcb321;
}

.nav-tabs a{
    background-color:#f5f5f5;
}

.nav-tabs a{
    color:black;
}

.nav-tabs a:hover {
    color:#fcb321;
}

.recenthead a {
    -webkit-filter: brightness(100%);
}

.activetabs a{
    background-color:white;
}



.recenthead a:hover {
    -webkit-filter: brightness(100%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.dropdown-menu a:link {
    color:black;
}

.dropdown-menu a:visited{
    color:black;
}

.sticky {
    position: fixed;
    top:0;
    width:100%;
    z-index:1;
}

.top-right {
    opacity: 0;
    position: absolute;
    bottom: 50px;
    right: 2px;
    color:white;
    background-color:#fcb321;
    transition: .5s;
}
.imgdark {
    position: absolute;
    top: -53px;
    left: 2px;
    width: 170px;
    height: 139px;
    opacity:0;
    background-color:black;
}

a:hover .imgdark{
    opacity:.5;
}
a:hover .top-right {
    opacity: 1;
}

footer a:visited{
    color:#fcb321;
}


footer h5{
    border-left:5px solid #fcb321;
    padding-left:20px;
    font-weight: bold;
    color:white;
}

footer { 
    background-color:black;
    color:#fcb321;
}

ul {
    list-style-type: none;
}
footer a:link {
    color:#fcb321;
}
footer a:hover{
    text-decoration: none;
    color:white;
}

footer a:active {
    color:#fcb321;
}


.footerlist {
    border-bottom: 1px solid #19191a;
}